{<<"links">>,[{<<"GitHub">>,<<"https://github.com/awksedgreep/ex_alp">>}]}.
{<<"name">>,<<"ex_alp">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<"ALP (Adaptive Lossless floating-Point) compression for Elixir. 2.5x better compression and 2x faster than Gorilla encoding for time series data. NIF wrapper around the SIGMOD 2024 reference implementation.">>}.
{<<"elixir">>,<<"~> 1.18">>}.
{<<"app">>,<<"ex_alp">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/ex_alp.ex">>,<<"lib/ex_alp">>,<<"lib/ex_alp/native.ex">>,
  <<"c_src">>,<<"c_src/alp">>,<<"c_src/alp/encoder.hpp">>,
  <<"c_src/alp/storer.hpp">>,<<"c_src/alp/rd.hpp">>,
  <<"c_src/alp/config.hpp">>,<<"c_src/alp/decoder.hpp">>,
  <<"c_src/alp/falp.hpp">>,<<"c_src/alp/constants.hpp">>,
  <<"c_src/alp/sampler.hpp">>,<<"c_src/alp/common.hpp">>,
  <<"c_src/alp_nif.cpp">>,<<"Makefile">>,<<"mix.exs">>,<<"README.md">>,
  <<"LICENSE">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"elixir_make">>},
   {<<"app">>,<<"elixir_make">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.9">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"ezstd">>},
   {<<"app">>,<<"ezstd">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 1.2">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"ex_openzl">>},
   {<<"app">>,<<"ex_openzl">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 0.4">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>,<<"make">>]}.
